@font-face {
    font-family: 'icomoon_glavsnab';
    src:    url('fonts/icomoon_glavsnab.eot?ydtf5o');
    src:    url('fonts/icomoon_glavsnab.eot?ydtf5o#iefix') format('embedded-opentype'),
        url('fonts/icomoon_glavsnab.ttf?ydtf5o') format('truetype'),
        url('fonts/icomoon_glavsnab.woff?ydtf5o') format('woff'),
        url('fonts/icomoon_glavsnab.svg?ydtf5o#icomoon_glavsnab') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="gsnab-"], [class*=" gsnab-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
     display: inline-block;
    font-family: 'icomoon_glavsnab' !important;
    speak: none;
    font-size:2em;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn .gsnab {
    line-height: inherit;
    vertical-align: bottom;
    font-size: inherit;
}

.gsnab-119139:before {
    content: "\e923";
}
.gsnab-128747:before {
    content: "\e924";
}
.gsnab-162336:before {
    content: "\e925";
}
.gsnab-24973:before {
    content: "\e919";
}
.gsnab-24974:before {
    content: "\e91a";
}
.gsnab-74393:before {
    content: "\e91b";
}
.gsnab-74398:before {
    content: "\e91c";
}
.gsnab-193554:before {
    content: "\e91d";
}
.gsnab-217378:before {
    content: "\e91e";
}
.gsnab-223733:before {
    content: "\e91f";
}
.gsnab-232536:before {
    content: "\e920";
}
.gsnab-232914:before {
    content: "\e921";
}
.gsnab-236691:before {
    content: "\e922";
}
.gsnab-134368:before {
    content: "\e900";
}
.gsnab-92068:before {
    content: "\e90a";
}
.gsnab-141958:before {
    content: "\e90b";
}
.gsnab-141965:before {
    content: "\e90c";
}
.gsnab-141966:before {
    content: "\e90d";
}
.gsnab-141990:before {
    content: "\e90e";
}
.gsnab-197116:before {
    content: "\e90f";
}
.gsnab-197139:before {
    content: "\e910";
}
.gsnab-197142:before {
    content: "\e911";
}
.gsnab-197145:before {
    content: "\e912";
}
.gsnab-197270:before {
    content: "\e913";
}
.gsnab-311714:before {
    content: "\e914";
}
.gsnab-311715:before {
    content: "\e915";
}
.gsnab-311776:before {
    content: "\e916";
}
.gsnab-311785:before {
    content: "\e917";
}
.gsnab-27272:before {
    content: "\e901";
}
.gsnab-29344:before {
    content: "\e902";
}
.gsnab-37404:before {
    content: "\e903";
}
.gsnab-95778:before {
    content: "\e904";
}
.gsnab-218924:before {
    content: "\e905";
}
.gsnab-218979:before {
    content: "\e906";
}
.gsnab-219001:before {
    content: "\e907";
}
.gsnab-219002:before {
    content: "\e908";
}
.gsnab-219003:before {
    content: "\e909";
}
.gsnab-311713:before {
    content: "\e918";
}

